@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
@code {
    
[Inject()]
public GoogleService googleService { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var Appointment=new Appointment();
        Appointment.StartTime=DateTime.Now;
        Appointment.EndTime=DateTime.Now.AddHours(1); 
        this.googleService.InsertEvent(Appointment);
    }
}